<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="bg-white border-gray-200">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <h1 class = "text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 font-extrabold text-3xl">Yesim Dundar</h1>

        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <% if user_signed_in? %>
          <%= link_to "New blog post", new_blog_post_pathclass:"text-sm text-blue-600 hover:underline"%>
          <%#= link_to "Profile", edit_user_registration_path %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-sm text-blue-600 hover:underline"%>
          <%# else %>
          <%#= link_to "Sign up", new_user_registration_path  %>
          <%#= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
      </div>
   </div>
    <%= yield %>
  </body>
</html>
